*{
	margin: 0;
	padding: 0;
}

#menu input{
	display: none;
}

#cabecalho {
	padding: 10px;
	text-align: center;
	font-size: 50px;
	border-bottom: 1px solid #000;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	margin-top: 10px;
}

#menu{
	width: 1300px;
	margin: 100px auto;
}

#menu label{
	display:flex;
    justify-content:center;
    align-items: center;
	width: 280px;
	height: 280px;
	background-color: #000;
	margin: 5px;
	float: left;
	border-radius: 70px;
	border: 1px solid #000;
}

#menu p{
	text-align: center; 
	font-size: 35px;
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
}

#menu label:hover p{
	text-decoration: underline;
	transition: 1s;
}

#menu label:hover{
	background-color: #666;
	transition: 2s;
}